body{
    background-color: antiquewhite;
    background-image: url('image/cool-background (1).png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav ul{
    list-style: none;
    padding-left: 34px;

}
nav ul li{
    display: inline-block;
    margin: 0px 8px 8px 0px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    transition: color 0.5s, border bottom 4s;
}
nav ul li a:hover{
    color:lightgray;
    border-bottom: 1px solid grey;
}
.container{
    min-height: 75vh;
    /* background-color: black; */
    color: black;
    display: flex;
    width: 93%;
    border-radius: 12px;
    margin: 24px auto;
    padding: 34px;
    
    
}
.bottom{
    position: sticky;
    /* height: 50px; */
    /* background-color: black; */
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    flex-direction: column;
   
}
.icons{
    margin-top: 8px;
}
.icons i{
    cursor: pointer;
}
#myprogressbar{
    width: 80vw;
}