body{
    background-color: antiquewhite;
    background-image: url('image/cool-background (1).png');
    /* background-image: linear-gradient(to right,#002952,#001429 ); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

#navbar{
    width: 85%;
    margin:auto;
    padding: 35px 0; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.logo{
    height: 50px;
    width: 50px;
    background: #fff;
    border-radius: 10px;
    margin-top: 20px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 20px 20px;
    position: relative;
}
nav ul li a{
    color:black;
    text-decoration: none;
    transition: color 0.5s;
}
nav ul li a:hover{
    color:white;
    border-bottom: 1px solid grey;
    
}
.container{
    min-height: 75vh;
    /* background-color: black; */
    color: black;
    display: flex;
    width: 93%;
    border-radius: 12px;
    margin: 24px auto;
    padding: 34px;
    
    
}
.bottom{
    position: sticky;
    /* height: 50px; */
    /* background-color: black; */
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    flex-direction: column;
   
}
.icons{
    margin-top: 8px;
}
.icons i{
    cursor: pointer;
    padding: 5px;
}
#myprogressbar{
    width: 80vw;
}
.singer{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.singers{
    display: inline-flex;
    text-align: center;
    padding: 1.8rem;
}
.singers img{
        display: flex;
        height: 4rem;
        width: 5rem;
        border-radius: 50%;
        border: .2rem solid black;
        transition: width 0.3s, height 0.3s;
    }
.singers img:hover{
    height: 6rem;
    width: 7.6rem;
}