body{
    background-color: antiquewhite;
    background-image: url('image/index2.avif');
    /* background-image: linear-gradient(to right,#002952,#001429 ); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
}

#navbar{
    width: 85%;
    margin:auto;
    padding: 35px 0; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.logo{
    height: 50px;
    width: 50px;
    background: #fff;
    border-radius: 10px;
    margin-top: 20px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 20px 20px;
    position: relative;
}
nav ul li a{
    color:black;
    text-decoration: none;
    transition: color 0.5s;
}
nav ul li a:hover{
    color:white;
    border-bottom: 1px solid grey;
    
}
.container{
    min-height: 75vh;
    /* background-color: black; */
    color: black;
    display: flex;
    flex-wrap: wrap;
    width: 93%;
    border-radius: 12px;
    margin: 24px auto;
    padding: 34px;
    
    
}
.icons{
    margin-top: 8px;
}
.icons i{
    cursor: pointer;
    padding: 5px;
}
#myprogressbar{
    width: 80vw;
}
h2{
    padding-left: 2rem;
    font-family: 'sans-serif';
    text-decoration: underline;
}
figcaption{
    contain: inline-size;
    text-transform: capitalize;
}
.singer{
    display: flexbox;

    border-top-color: black;
    border-top-style: groove;
    padding: 3rem;
}
.singers{
    display: inline-flex;
    text-align: center;
    margin: 2rem;
    transition: transform .2s;
}
.singers img{
        display: flex;
        height: 4rem;
        width: 5rem;
        border-radius: 50%;
        border: .2rem solid black;
    }
.singers:hover{
   transform: scale(1.5);
}
.old_song{
    display: inline-flex;
    text-align: center;
    margin: 2rem;
    transition: transform .2s;
}
.old_song img{
    display: flex;
    height: 4rem;
    width: 5rem;
    border: .2rem solid black;
    transition: width 0.3s, height 0.3s;
}
.old_song:hover{
transform: scale(1.5);
}
.arijit{
    display: inline-flex;
    text-align: center;
    padding: 1rem;
    align-items: center;
    margin:3%;
    transition: transform .2s;
}
.arijit img{
    display: flex;
    height: 4rem;
    width: 5rem;
    border: .2rem solid black;
    transition: width 0.3s, height 0.3s;
}
.arijit:hover{
transform: scale(1.5);
}
audio{
    zoom: 47%;
}